<ion-view view-title="hello">
  <ion-content class="content padding-top">
    <div class="" ng-show="data.showChildChores === true">
        <h2 class="parentShowTitle">Chore List:</h2>
        <div class="choreList">
          <ul ng-repeat="chore in data.choreInfo">
            <li>
              <p ng-click="data.editChore(chore)"><strong>Chore:</strong> {{chore.choreName}}</p>
              <p ng-click="data.editChore(chore)"><strong>Points:</strong> {{chore.chorePoints}}</p>
              <p ng-click="data.editChore(chore)"><strong>Notes:</strong> {{chore.choreNotes}}</p>
              <p ng-click="data.editChore(chore)"><strong>Status:</strong> {{chore.status}}</p>
              <p ng-click="data.editChore(chore)"><strong>Info:</strong> {{chore.info}}</p>
              <i class="iconSize icon ion-ios-redo"></i>
              <hr>
            </li>
          </ul>
        </div>
        <button class="addChoreButton" type="button" name="button" ng-click="data.addChildChore()" ng-show="data.showAddChoreButton === true"> Add Chore </button>
      </div>
    <div class="list" ng-show="data.showEditChildChore === true">
      <button class="backChildrenShowButton" type="button" name="button" ng-click="data.backChildrenShow()">Go Back</button>
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="{{data.editChoreInfo.choreName}}" ng-model="data.editChores.choreName">
      </label>
      <label class="choreDetailsName item item-input">
        <input type="number" name="name" value="" placeholder="{{data.editChoreInfo.chorePoints}}" ng-model="data.editChores.chorePoints">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="{{data.editChoreInfo.choreNotes}}" ng-model="data.editChores.choreNotes">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="{{data.editChoreInfo.info}}">
      </label>
      <button class="submitEditedChoreButton" type="button" name="button" ng-click="data.submitEditChildChore(data.editChoreInfo, data.editChores)">Submit Edited Chore</button>
      <button class="deleteChoreButton" type="button" name="button" ng-click="data.deleteChildChore(data.editChoreInfo)">Delete Chore</button>
      <button class="submitCompletedChoreButton" type="button" name="button" ng-click="data.confirmChildChoreComplete(data.editChoreInfo)">Confirm Completed</button>
    </div>
    <div class="list" ng-show="data.showAddChildChore === true">
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="Chore Name" ng-model="data.chore.name">
      </label>
      <label class="choreDetailsName item item-input">
        <input type="number" name="name" value="" placeholder="Chore Point Value" ng-model="data.chore.points">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="Chore Notes" ng-model="data.chore.notes">
      </label>
      <button class="submitChoreButton" type="button" name="button" ng-click="data.submitChildChore(data.chore)">Submit Chore</button>
    </div>
    <div class="" ng-show="data.showChildRewards === true">
      <h2 class="parentShowTitle">Reward List:</h2>
      <div class="choreList">
        <ol ng-repeat="reward in data.rewardInfo">
          <li>
            <p ng-click="data.editReward(reward)"><strong>Reward:</strong> {{reward.rewardName}}</p>
            <p ng-click="data.editReward(reward)"><strong>Points:</strong> {{reward.rewardPoints}}</p>
            <p ng-click="data.editReward(reward)"><strong>Status:</strong> {{reward.status}}</p>
            <p ng-click="data.editReward(reward)"><strong>Notes:</strong> {{reward.rewardNotes}}</p>
            <i class="iconSize icon ion-ios-redo"></i>
            <hr>
          </li>
        </ol>
      </div>
      <button class="addRewardButton" type="button" name="button" ng-click="data.addChildReward()" ng-show="data.showAddRewardButton === true"> Add Reward </button>
    </div>
    <div class="list" ng-show="data.showEditChildReward === true">
      <button class="backChildrenShowButton" type="button" name="button" ng-click="data.backChildrenShow()">Go Back</button>
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="{{data.editRewardInfo.rewardName}}" ng-model="data.editReward.rewardName">
      </label>
      <label class="choreDetailsName item item-input">
        <input type="number" name="name" value="" placeholder="{{data.editRewardInfo.rewardPoints}}" ng-model="data.editReward.rewardPoints">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="{{data.editRewardInfo.rewardNotes}}" ng-model="data.editReward.rewardNotes">
      </label>
      <button class="submitCompletedRewardButton" type="button" name="button" ng-click="data.submitEditChildReward(data.editRewardInfo, data.editReward)">Submit Edited Reward</button>
      <button class="submitDeleteRewardButton" type="button" name="button" ng-click="data.deleteChildReward(data.editRewardInfo)">Delete Reward</button>
      <button class="submitConfirmPurchaseButton" type="button" name="button" ng-click="data.deletePurchasedChildReward(data.editRewardInfo)" ng-show="data.editRewardInfo.status === 'purchased'">Confirm Purchased Reward</button>
    </div>
    <button class="deleteChildButton" type="button" name="button" ng-click="data.deleteChild()" ng-show="data.showDeleteChildButton === true"> Delete Child </button>
    <div class="list" ng-show="data.showAddChildReward === true">
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="Reward Name" ng-model="data.reward.name">
      </label>
      <label class="choreDetailsName item item-input">
        <input type="number" name="name" value="" placeholder="Reward Points" ng-model="data.reward.points">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="Reward Notes" ng-model="data.reward.notes">
      </label>
      <button class="submitRewardButton" type="button" name="button" ng-click="data.submitChildReward(data.reward)">Submit Reward</button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark footerLogout">
    <button ng-click="data.goParentHome()" class="parentChildShowFooterHome" footer button button-clear>Home</button>
    <i class="iconSize icon ion-ios-home" ng-click="data.goParentHome()"></i>
    <button ng-click="data.logout(data.user)" class="parentChildShowFooterLogout" footer button button-clear>Logout</button>
    <i class="iconSize icon ion-ios-close-outline" ng-click="data.logout(data.user)"></i>
  </div>
</ion-view>
