<ion-view view-title="hello">
  <ion-content class="content padding-top">
    <div class="" ng-show="data.showChildChores === true">
      <h2 class="parentShowTitle">Chore List:</h2>
      <div class="choreList">
        <ul ng-repeat="chore in data.choreInfo">
          <li>
            <p ng-click="data.getChore()"><strong>Chore:</strong> {{chore.choreName}}</p>
            <p ng-click="data.getChore()"><strong>Notes:</strong> {{chore.choreNotes}}</p>
            <hr>
          </li>
        </ul>
      </div>
      <button class="addChoreButton" type="button" name="button" ng-click="data.addChildChore()" ng-show="data.showAddChoreButton === true"> Add Chore </button>
      <button class="addChoreButton" type="button" name="button" ng-click="data.editChildChore()" ng-show="data.showEditChoreButton === true"> Edit Chore </button>
    </div>
    <div class="list" ng-show="data.showEditChildChore === true">
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="{{data.editChoreInfo.choreName}}" ng-model="data.chore.name">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="{{data.editChoreInfo.choreNotes}}" ng-model="data.chore.notes">
      </label>
      <button class="submitChoreButton" type="button" name="button" ng-click="data.submitChildChore(data.chore)">Edit Chore</button>
    </div>
    <div class="list" ng-show="data.showAddChildChore === true">
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="Chore Name" ng-model="data.chore.name">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="Chore Notes" ng-model="data.chore.notes">
      </label>
      <button class="submitChoreButton" type="button" name="button" ng-click="data.submitChildChore(data.chore)">Submit Chore</button>
    </div>
    <div class="" ng-show="data.showChildRewards === true">
      <h2 class="parentShowTitle">Reward List:</h2>
      <div class="choreList">
        <ol ng-repeat="reward in data.rewardInfo">
          <li>
            <p ng-click="data.getKey()"><strong>Reward:</strong> {{reward.rewardName}}</p>
            <p ng-click="data.getKey()"><strong>Notes:</strong> {{reward.rewardNotes}}</p>
            <hr>
          </li>
        </ol>
      </div>
      <button class="addRewardButton" type="button" name="button" ng-click="data.addChildReward()" ng-show="data.showAddRewardButton === true"> Add Reward </button>
      <button class="addRewardButton" type="button" name="button" ng-click="data.test()" ng-show="data.showAddRewardButton === true"> Edit Reward </button>
    </div>
    <div class="list" ng-show="data.showAddChildReward === true">
      <label class="choreDetailsName item item-input">
        <input type="text" name="name" value="" placeholder="Reward Name" ng-model="data.reward.name">
      </label>
      <label class="choreDetailsNotes item item-input">
        <input type="textarea" class="choreNotesTextArea" name="name" value="" placeholder="Reward Notes" ng-model="data.reward.notes">
      </label>
      <button class="submitRewardButton" type="button" name="button" ng-click="data.submitChildReward(data.reward)">Submit Reward</button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark footerLogout">
    <button ng-click="data.goParentHome()" class="parentChildShowFooterHome" footer button button-clear>Home</button>
    <i class="iconSize icon ion-ios-home" ng-click="data.goParentHome()"></i>
    <button ng-click="data.logout(data.user)" class="parentChildShowFooterLogout" footer button button-clear>Logout</button>
    <i class="iconSize icon ion-ios-close-outline" ng-click="data.logout(data.user)"></i>
  </div>
</ion-view>
