<ion-view view-title="hello">
        <ion-content class="content padding-top">
          <img class="loginImage" src="img/choreScore3.png" alt="chores"/>
          <div class="loginContainer">
            <div class="list">
              <label class="registrationPassword item item-input">
                <input type="text" name="name" value="" placeholder="Email/Username" ng-model="data.user.email" required>
              </label>
              <label class="registrationPassword item item-input">
                <input type="password" name="name" value="" placeholder="Password" ng-model="data.user.password" required>
              </label>
            </div>
            <button class="login" type="button" name="button" ng-click="data.login(data.user)">Log In</button>
            <!-- <i class="thumb iconSize icon ion-android-hand"></i> -->
          </div>
          <a href="#/registration" target="_self"><h3 class="loginRegister">First Time? Register Here.</h3></a>
        </ion-content
</ion-view>
