<ion-view view-title="hello">
        <ion-content class="content padding-top">
          <img class="childHomeImage" src="img/choreScore3.png" alt="chores"/>
          <div class="childContainer">
            <h1 class="childName">Hi {{data.childName}}</h1>
            <h3 class="childShowInfo">You currently have {{data.childPoints}} points.</h3>
            <button class="loginButton" type="button" name="button"><a href="#/child/{{data.id}}/chores" target="_self"> Chores</button>
            <button class="loginButton" type="button" name="button"><a href="#/child/{{data.id}}/rewards" target="_self"> Rewards </a></button>
            <button class="loginButton" type="button" name="button"><a href="#/child/{{data.id}}/bank" target="_self"><i class="iconSize icon ion-social-usd-outline"></i> Bank <i class="iconSize icon ion-social-usd-outline"></i></a></button>
          </div>
        </ion-content>
        <div class="bar bar-footer bar-dark footerLogout">
          <button ng-click="data.logout(data.user)" class="childShowFooter footerLogoutButton" footer button button-clear>Logout</button>
          <i class="iconSize icon ion-ios-close-outline"></i>
        </div>
</ion-view>
