<ion-view view-title="hello">
        <ion-content class="content padding-top">
          <img class="loginImage" src="/img/choreScoreInitials.png" alt="" />
          <div class="loginContainer">
            <h1 class="childName">Hi {{data.childName}}</h1>
            <h3 class="childShowInfo">You currently have {{data.childPoints}} points.</h3>
            <button class="loginButton" type="button" name="button"><a href="/#/child/{{data.id}}/chores"> Chores</button>
            <button class="loginButton" type="button" name="button"><a href="/#/child/{{data.id}}/rewards"> Rewards </a></button>
          </div>
        </ion-content>
        <div class="bar bar-footer bar-dark footerLogout">
          <button ng-click="data.logout(data.user)" class="childShowFooter footerLogoutButton" footer button button-clear>Logout</button>
          <i class="iconSize icon ion-ios-close-outline"></i>
        </div>
</ion-view>
