<ion-view view-title="hello">
        <ion-content class="content padding-top">
          <div class="list registration">
            <label class="registrationPassword item item-input">
              <input type="text" name="name" value="" placeholder="Parent Name" ng-model="data.parent.name" ng-required="true">
            </label>
            <label class="registrationPassword item item-input">
              <input type="email" name="name" value="" placeholder="Parent Email" ng-model="data.parent.email" required>
            </label>
            <label class="registrationPassword item item-input">
              <input type="password" name="name" value="" placeholder="Parent Password" required>
            </label>
            <label class="repeatPassword item item-input">
              <input type="password" name="name" value="" placeholder="Repeat Password" ng-model="data.parent.password" required>
            </label>
          </div>
          <button class="submitRegistration" type="button" name="button" ng-click="data.register(data.parent)">Register</button>
    </ion-view>
