/*General to whole app*/
*{
  font-family: 'Montserrat', sans-serif !important;
}
a{
  text-decoration: none !important;
  color: white !important;
}
.content{
  text-align: center;
  background: linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%,rgba(19,19,19,1) 100%);
  overflow: scroll;
}

/*Specific to splash.html*/
.splashText{
  color: white;
  margin-bottom: -35%;
}
.splashTitle{
  color: white;
  font-size: 55px;
}
.splashImage{
  width: 80%;
  margin-top: 10%;
  margin-bottom: 45%;
}

/*Specific to login.html*/
.thumb{
  font-size: 40px;
  margin-left: 5%;
  color: white;
}
.login{
  border: 1px solid black;
  border-radius: 5px;
  padding: 1%;
  font-size: 20px;
}
.loginImage{
  width: 95%;
  margin-top: 10%;
}
.loginRegister{
  color: white;
  text-decoration: underline;;
}
.loginButton{
  background-color: gray;
  color: black;
  width: 80%;
  font-size: 35px;
  margin-bottom: 5%;
  border-radius: 55px;
}
.loginContainer{
  margin-top: 15%;
  margin-bottom: 10%;
}

/*Specific to registration.html*/
.moreChildren{
  margin-top: 5%;
  margin-bottom: 5%;
  color: white !important;
  text-decoration: underline;
}
.submitRegistration{
  border: 1px solid black;
  border-radius: 5px;
  padding: 1%;
  font-size: 30px;
  margin-bottom: 15%;
}
.registration{
  width: 90%;
  margin-left: 5%;
  margin-top: 15%;
  overflow: scroll;
}
.registrationPassword{
  width: 60%;
}
.item-input{
  border-radius: 5px;
  margin-bottom: 3%;
  margin-left: 20%;
}
.repeatPassword{
  margin-bottom: 5%;
  width: 60%;
}

/*Specific to childHome.html*/
.childName{
  color: white;
}
.footerLogout{
  font-size: 35px;
}
.footerLogoutButton{
  margin-left: 35%;
  font-size: 35px;
}
.childShowInfo{
  color: white;
  margin-bottom: 10%;
}
.childShowFooter{
  color: white;
  font-size: 20px !important;
}
.childHomeImage{
  width: 85%;
  margin-bottom: 7%;
  margin-top: 5%;
}
/*Specific to childChores.html*/
.choreFooterLogoutButton{
  margin-left: 17%;
  font-size: 35px;
  color: white;
}
.footerReward{
  font-size: 35px;
  color: white;
  margin-left: 15%;
}
.submitCompletedChoreButton{
  background-color: gray;
  color: black;
  width: 80%;
  font-size: 20px;
  border-radius: 55px;
}
.choreCompleteSubmitTextAreaOutside{
  height: 300px;
  width: 80%;
  text-align: center;
  padding: 0;
  margin-left: 10%;
  margin-bottom: 5%;
}
.choreCompleteSubmitTextAreaInside{
  height: 300px;
  width: 100%;
  text-align: center;
}
.submitChorePage{
  color: white;
}
/*Specific to parentChildShow.html*/
li:focus{
  color: red;
}
.submitEditedChoreButton{
  background-color: gray;
  color: black;
  width: 55%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
}
.submitCompletedRewardButton{
  background-color: gray;
  color: black;
  width: 60%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.submitDeleteRewardButton{
  background-color: gray;
  color: black;
  width: 45%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.submitConfirmPurchaseButton{
  background-color: gray;
  color: black;
  width: 75%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.submitCompletedChoreButton{
  background-color: gray;
  color: black;
  width: 55%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
  margin-top: 3.5%;
}
.deleteChoreButton{
  background-color: gray;
  color: black;
  width: 40%;
  font-size: 20px;
  border-radius: 55px;
  margin-left: 9%;
  margin-right: 10%;
  margin-top: 3%;
}
.parentChildShowFooterHome{
  color: white;
  margin-left: 20%;
  margin-right: 1%;
}
.parentChildShowFooterLogout{
  color: white;
  margin-right: 1%;
  margin-left: 10%;
}
.choreList{
  background-color: white;
  width: 80%;
  height: 430px;
  font-size: 20px;
  padding: 2%;
  margin-left: 10%;
  margin-bottom: 5%;
  border-radius: 10px;
  overflow: scroll;
}
.childShowTitle{
  color: white;
  margin-top: 5% !important;
  margin-bottom: 5%;
}
.choreDetailsName{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3%;
  padding: 2%;
}
.choreDetailsNotes{
  width: 80%;
  height: 100px;
  margin-left: 10%;
  padding: 2%;
  margin-bottom: 5%;
}
.choreNotesTextArea{
  text-align: center;
  height: 90px
}
.addChoreButton{
  background-color: gray;
  color: black;
  width: 130px;
  font-size: 20px;
  border-radius: 55px;
  margin-bottom: 5%;
}
.submitChoreButton{
  background-color: gray;
  color: black;
  width: 200px;
  font-size: 25px;
  border-radius: 55px;
}
.submitRewardButton{
  background-color: gray;
  color: black;
  width: 220px;
  font-size: 25px;
  border-radius: 55px;
}
.addRewardButton{
  background-color: gray;
  color: black;
  width: 150px;
  font-size: 20px;
  border-radius: 55px;
}
.deleteChildButton{
  background-color: red;
  color: black;
  width: 140px;
  font-size: 20px;
  border-radius: 55px;
  margin-top: 5%;
}
.parentShowTitle{
  color: white;
}
/*specific to parentHome.html*/
.addChildButton{
  background-color: gray;
  color: white;
  width: 130px;
  font-size: 20px;
  margin-bottom: 10%;
  border-radius: 55px;
}
.showChildButton{
  background-color: gray;
  color: white !important;
  width: 45%;
  font-size: 30px;
  margin-bottom: 10%;
  border-radius: 55px;
}
.parentShowTitle{
  color: white;
}
.parentFooterLogout{
  margin-left: 37%;
  margin-right: 2%;
}
.iconSize{
  font-size: 34px;
}
